body {margin: 0;font-family: Arial, sans-serif;background: #f5f5f5;}
header {background: #c62828;text-align: center;padding: 25px;}

header h1 {margin: 0;color: white;}

header p {margin-top: 8px;font-style: italic;}
nav { background: #fff;padding: 10px;text-align: center;}

nav a { margin: 0 10px;text-decoration: none;color: #333; font-weight: bold;}
.hop {display: flex;padding: 20px;gap: 20px;}
.trai {background: #fff;padding: 20px;width: 65%;border-radius: 10px;}

.trai ul {margin-left: 20px;}
.phai {width: 35%;}

.the {background: #fff;padding: 15px;border-radius: 10px;margin-bottom: 1px;text-align: center;}

.the img {width: 40px;}

.the.do {background: #c62828;color: white;}


footer {text-align: center;padding: 15px;background: #ddd;margin-top: 20px;}